<a href="https://www.kaggle.com/code/mehmetseviker/baslangic?scriptVersionId=194730491" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

**Verilen string ifadenin tüm harflerini büyük harfe çevirme. Virgül ve nokta yerine space koymak,**

In [ ]:
text = "The goal is to turn data into information, and information into insight."
text.upper()

In [ ]:
text = "The goal is to turn data into information, and information into insight."
text.replace(".", " ")

text.upper().replace(","," ").replace("."," ").split()

In [ ]:
text.split()

**Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.**

In [ ]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]
yeni_lst = [l for i, l in enumerate(lst) if i <4 ]
yeni_lst

#Yada
lst[0:4] #slicing metodu

**Sekizinci indeksteki elemanı siliniz**

In [ ]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]
lst.pop(8)
lst

**Yeni bir eleman ekleyiniz.**

In [ ]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]
lst.append(5)
lst

**Sekizinci indekse "N" elemanını tekrar ekleyiniz**

In [ ]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]
lst.insert(8, "N")
lst

**Verilen sözlük yapısına aşağıdaki adımları uygulayınız 
dict = {'Christian': ["America",18], 'Daisy':["England",12], 'Antonio':["Spain",22], 'Dante':["Italy",25]}**

In [ ]:
dict = {'Christian': ["America",18],
        'Daisy':["England",12],
        'Antonio':["Spain",22],
        'Dante':["Italy",25]}

#Key değerlerine erişiniz.
dict.keys()

#Value'lara erişiniz.
dict.values()

#Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
dict["Daisy"][1] = 13
dict.items()

#: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
dict.update({"Ahmet": ["Turkey", 24]})
dict.items()

#Antonio'yu dictionary'den siliniz.
del dict["Antonio"]
dict.items()

#Yada

dict.pop("Antonio")

**Görev5: Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri
return eden fonksiyon yazınız.**

In [ ]:
l = [2,13,18,93,22]

tek = []
cift = []
def tekcift(list):
    for i in l:
        if i % 2 == 0:
            cift.append(i)
        else:
            tek.append(i)
    return (tek, cift)

tekcift(l)
print(cift, tek)

**GÖREV 6: Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır.
- Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci sırasına aittir.
- Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.**

In [ ]:
ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

for index, ogrenci in enumerate(ogrenciler, 1):
    if index < 4:
        print("Mühendislik Fakültesi", index, ". ögrenci", ogrenci)
    else:
        print("Tıp Fakültesi", (index-3), ". ögrenci", ogrenci)

#Yada
        
if index<=2:

        print("Mühendislik Fakültesi " + str(index+1) + ". öğrenci:" + ogr)
      
    else:
        print("Tıp Fakültesi " + str(index-2) + ". öğrenci:" + ogr)

**GÖREV 7: Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.**

In [ ]:
ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

tam = list(zip(kredi, ders_kodu, kontenjan))

for i, j, k in tam:
    print("Kredisi {} olan {} kodlu dersin kontenjanı {} kişidir.".format(i, j, k))

#for k, kod, kon in zip(kredi, ders_kodu, kontenjan):
#print("kredi" {k} olan {kod} kodlu dersin kontenjanı {kon} kişidir)

**GÖREV 8: Aşağıda 2 adet set verilmiştir.
Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.**

In [ ]:
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

def kumeler(kume1, kume2):
    if kume1.issuperset(kume2):
        print(kume1.intersection(kume2))
    else:
        print(kume2.difference(kume1))

kumeler(kume1, kume2)

# # # # **List Comprehensions**

**GÖREV 1: List Comprehension yapısı kullanarak car_crashes verisindeki numeric değişkenlerin isimlerini büyük harfe çeviriniz ve başına NUM ekleyiniz.**

**Numerik olmayanların da isimleri büyümeli.
Tek bir list comp yapısı ile yapılmalı.**

In [ ]:
import seaborn as sns
import pandas as pd

df = sns.load_dataset("car_crashes")

["NUM_" + col.upper() if df[col].dtypes in ["int64", "float64"] else col.upper() for col in df.columns]

#Yada

["NUM_" + col.upper() if df[col].dtypes in [int, float] else col.upper() for col in df.columns]

**GÖREV 2: List Comprehension yapısı kullanarak car_crashes verisindeki isminde "no" barındırmayan değişkenlerin isimlerininin sonuna "FLAG" yazınız.**

**Tüm değişken isimleri büyük olmalı.
Tek bir list comp ile yapılmalı.**

In [ ]:
[col.upper() + "_FLAG" if "no" not in col else col.upper() for col in df.columns]

**Görev 3: List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan değişkenlerin isimlerini seçiniz ve yeni bir dataframe oluşturunuz.
Önce yukarıdaki listeye göre list comprehension kullanarak new_cols adında yeni liste oluşturunuz.
Sonra df[new_cols] ile bu değişkenleri seçerek yeni bir df oluşturunuz adını new_df olarak isimlendiriniz.**

In [ ]:
og_list = ["abbrev", "no_previous"]

new_col = [col for col in df.columns if col not in og_list]

new_df = df[new_col]

new_df.head()

# Pandas Alıştırmalar

In [ ]:
import numpy as np
import seaborn as sns
import pandas as pd

**Görev 1: Seaborn kütüphanesi içerisinden Titanic veri setini tanımlayınız.**

In [ ]:
df = sns.load_dataset("titanic")

**Görev 2: Yukarıda tanımlanan Titanic veri setindeki kadın ve erkek yolcuların sayısını bulunuz.**

In [ ]:
df["sex"].value_counts()

**Görev 3: Her bir sutuna ait unique değerlerin sayısını bulunuz.**

In [ ]:
df.nunique()

**Görev 4: pclass değişkeninin unique değerleri bulunuz**

In [ ]:
df["pclass"].nunique()

**Görev 5:  pclass ve parch değişkenlerinin unique değerlerinin sayısını bulunuz.**

In [ ]:
col_names = ["pclass", "parch"]
df[col_names].nunique()

#yada

df[["pclass", "parch"]].nunique()

**Görev 6: embarked değişkeninin tipini kontrol ediniz. Tipini category olarak değiştiriniz. Tekrar tipini kontrol ediniz.**

In [ ]:
df.embarked.dtype

#Yada

df["embarked"].dtype

df.embarked.astype('category')

**Görev 7: embarked değeri C olanların tüm bilgelerini gösteriniz.**

In [ ]:
df[df["embarked"] == "C"].head()
df[df["embarked"] == "C"].info()
df[df["embarked"] == "C"].count()
df[df["embarked"] == "C"].describe().T

**Görev 8: embarked değeri S olmayanların tüm bilgelerini gösteriniz.**

In [ ]:
df[df["embarked"] != "S"].head()
df[df["embarked"] != "S"].info()
df[df["embarked"] != "S"].count()
df[df["embarked"] != "S"].describe().T

**Görev 9: Yaşı 30 dan küçük ve kadın olan yolcuların tüm bilgilerini gösteriniz.**

In [ ]:
df.loc[(df["age"] < 30) & (df["sex"] == "female"), :].head()
df.loc[(df["age"] < 30) & (df["sex"] == "female"), :].describe().T

**Görev 10: Fare'i 500'den büyük veya yaşı 70 den büyük yolcuların bilgilerini gösteriniz.**

In [ ]:
df.loc[(df.fare > 500) & (df.age > 70), :].head() #--> Empty DataFrame
df.loc[(df.fare > 500) & (df.age > 70), :].count() #--> bütün değerler 0
df[df.fare > 500][df.age > 70].values.any() #--> False
#Bu şartı sağlayan yolcu yok

**Görev 11: Her bir değişkendeki boş değerlerin toplamını bulunuz.**

In [ ]:
df.isnull().sum()

**Görev 12: who değişkenini dataframe'den düşürün.**

In [ ]:
df.drop("who", axis=1)

**Görev 13: deck değikenindeki boş değerleri deck değişkenin en çok tekrar eden değeri (mode) ile doldurunuz.**

In [ ]:
df["deck"].fillna(df.deck.mode()) #--> C

df["deck"].fillna(value = "C", inplace = True)
df.deck.isnull().sum()

#Yada
df["deck"] = df["deck"].fillna(df["deck"].mode()) #Tip karakter olunca yöntem çalışmıyor ama aşağıdaki sorudaki gibi int olunca çalışıyor neden?

**Görev 14: age değikenindeki boş değerleri age değişkenin medyanı ile doldurun.**

In [ ]:
df["age"] = df["age"].fillna(df["age"].median())

**Görev 15: survived değişkeninin Pclass ve Cinsiyet değişkenleri kırılımınında sum, count, mean değerlerini bulunuz.**

In [ ]:
df.groupby(["pclass", "sex"]).agg({"survived": ["sum", "count", "mean"]})

**Görev 16:  30 yaşın altında olanlar 1, 30'a eşit ve üstünde olanlara 0 vericek bir fonksiyon yazınız.
Yazdığınız fonksiyonu kullanarak titanik veri setinde age_flag adında bir değişken oluşturunuz oluşturunuz. (apply ve lambda yapılarını kullanınız)**

In [ ]:
df["new_flag"] = pd.cut(df["age"], [0, 30, 80])

#yada

def ayristirma(x):
    if x < 30:
        a = 1
    else:
        a = 0
    return a

new_flag = df.loc[:, "age"].apply(lambda x: ayristirma(x))

df["new_flag"] = new_flag

#Yada:

df["new_flag"] = df["age"]

def ayristirma(column):
    for index, value in enumerate(column):
        if value < 30:
            df.new_flag[index] = 1
        else:
            df.new_flag[index] = 0
    return df.new_flag

ayristirma(df.age) #Hata mesajı veriyor ama çalışıyor.

**Görev 17: Seaborn kütüphanesi içerisinden Tips veri setini tanımlayınız.**

In [ ]:
df = sns.load_dataset("tips")

**Görev 18: Time değişkeninin kategorilerine (Dinner, Lunch) göre total_bill değerlerinin toplamını, min, max ve ortalamasını bulunuz.**

In [ ]:
df.time.value_counts()

#Dinner    176
#Lunch      68

df.groupby("time").agg({"total_bill": ["sum", "min", "max", "mean"]})

#       total_bill                    
#              sum   min    max   mean
#time                                 
#Lunch    1167.470 7.510 43.110 17.169
#Dinner   3660.300 3.070 50.810 20.797

**Görev 19: Günlere ve time göre total_bill değerlerinin toplamını, min, max ve ortalamasını bulunuz.**

In [ ]:
df.groupby(["time", "day"]).agg({"total_bill": ["sum", "min", "max", "mean"]})

#            total_bill                     
#                   sum    min    max   mean
#time   day                                 
#Lunch  Thur   1077.550  7.510 43.110 17.665
#       Fri      89.920  8.580 16.270 12.846
#       Sat       0.000    NaN    NaN    NaN
#       Sun       0.000    NaN    NaN    NaN
#Dinner Thur     18.780 18.780 18.780 18.780
#       Fri     235.960  5.750 40.170 19.663
#       Sat    1778.400  3.070 50.810 20.441
#       Sun    1627.160  7.250 48.170 21.410

**Görev 20: Lunch zamanına ve kadın müşterilere ait total_bill ve tip değerlerinin day'e göre toplamını, min, max ve ortalamasını bulunuz.**

In [ ]:
df.loc[(df.sex == "Female") & (df.time == "Lunch")].groupby("day").agg({"total_bill": ["sum", "min", "max", "mean"], "tip": ["sum", "min", "max", "mean"]})

**Görev 21: size'i 3'ten küçük, total_bill'i 10'dan büyük olan siparişlerin ortalaması nedir? (loc kullanınız)**

In [ ]:
columns = df.columns
df.loc[(df["size"] < 3) & (df["total_bill"] > 10), columns].total_bill

#Yada;
#UserWarning: Boolean Series key will be reindexed to match DataFrame index. Hatası verir ama çalışır.
df[df["size"] < 3][df["total_bill"] > 10].total_bill.mean()

**Görev 22: total_bill_tip_sum adında yeni bir değişken oluşturunuz. Her bir müşterinin ödediği totalbill ve tip in toplamını versin.**

In [ ]:
df["total_bill_tip_sum"] = df.total_bill + df.tip

**Görev 23: total_bill_tip_sum değişkenine göre büyükten küçüğe sıralayınız ve ilk 30 kişiyi yeni bir dataframe'e atayınız.**

In [ ]:
ilk_otuz = pd.DataFrame()
ilk_otuz = (df.sort_values(by='total_bill_tip_sum', ascending=False)).head(30)